.container{
    width: 90%;
    margin: 0 auto;
}

header{
    margin-bottom: 30px;
}
.main-header{
    height: 85px;
    background-color: #7DD9E8;
    /* overflow: auto; */
    /* margin-bottom: 2px; */
}
.nav{
    height: 40px;
    background-color: #F5F5F5;
}
/* section{
    margin-bottom: 32px;
} */
aside{
    background-color: #F5F5F5;
    /* height:605px; */
}
.left-sidebar{
    display: none;
}
.left-sidebar-resp{
    width: 100%;
    background-color: #F5F5F5;
    /* float: left; */
    margin-bottom: 10%;
    float: right;
}
.left-sidebar-resp .sidebar-top{
    margin-bottom: 1%;

}
.right-sidebar{
    width: 100%;
    float: right;
    margin-left: 24px;
    margin-bottom: 5%;
    text-align: center;
}
main{
    
    width: 100%;
    /* background-color: black; */
    float:left;
    margin-bottom: 10%;
}

footer{
    /* height: 45px; */
    background-color: #727272;
}
.clearfix:after{
    content: '';
    clear: both;
    display: table;
}
