img {
    max-width: 100%;
    height: auto;
  }

@media screen and (min-width:365px) {
    .hero-text-wrapper{
        width: 365px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-phone{
        /* padding-left: 20%; */
        /* object-position: 100px 0; */
        /* float: none; */
    }
}

@media screen and (min-width: 450px) {
    .team{
        margin-top: 25%;
    }
}
@media screen and (min-width: 600px) {
    .team{
        margin-top: 20%;
    }
}

@media screen and (min-width: 768px) {
    h4{
        font-size: 31px;
        font-weight: 700;
        line-height: 47.25px;
    
    }
    


    .hero-section{
        padding-top: 25px;
    }
    .contact{
        display: block;
        margin-bottom: 42px;
    }
    .nav-menu-icon{
        margin: 18px;
    }
    .nav-wrapper{
        margin: 16px 0;
    }
    .logo-wrapper{
        width: 200px;
        padding: 31px 17px; 
        top:69px;
    }
    .logo-wrapper img{
        opacity: 1;
    }
    .nav-download-btn{
        padding: 20px 15px 12px;
        margin: 5px;
    }
    .nav-download-btn a{
        font-size: 20px;
    }


    .hero-text-section{
        padding: 221px 0;
        position: relative;
    }
    .hero-text-wrapper{
        width: 390px;
        margin-top: 0px;
        float: left;
        margin-top: 70px;
    }
    .bg-img{
        margin-top: -10px;
        padding-left: 15px;
    }
    .hero-text{
        padding: 14px 7px 14px 18px;
        /* margin: 33px 0px; */
        width: 356px;
    }
    /* padding-right: 7px; */
    .hero-text h4{
        margin-bottom: 6px;
    }
    .hero-text h5{
        margin-bottom: 23px;
    }
    .hero-text p{
        padding-right: 5px;
    }
    .app-store img{
        width: 149px;
        height: auto;
        padding-right:14px ;
    }
    .hero-phone{
        float: right;
        height: 423px;
        object-fit: cover;
        object-position: 55px 0;
        margin: 0;
        margin-right: -40px;
        padding-left: 0;
    }


    .section-heading{
        width: 450px;
    }
    .extra-tab{
        display: inline;
    }
    .about-body{
        margin-top: 60px;
        padding-bottom: 120px;
    }
    .about-body img{
        float: left;
        width: 35%;
        margin: 0;
    }
    .about-card-group{
        width: 65%;
        float: right;
        padding: 0px;
        padding-left: 60px;
    }

    .feature-left{
        float: left;
        width:35%;
        /* margin: 40px 0; */
    }
    .feature-left .feature-card{
        margin: 40px;
        margin-right: 20px;
        text-align: right;
        float: right;
    }
    .feature-card{
        position: relative;
        z-index: 5;
    }
    .feature-right .feature-card, .feature-left .feature-card{
        width: 250px;
        margin: 20px;
    }
    .feature-app-img{
        float: left;
        width:30%;
        position: relative;
        z-index: 0;
        filter: drop-shadow(10px 10px 100px rgba(24, 48, 63, 0.3));
    }
    .feature-right{
        margin-top: 0;
        float: right;
        text-align: left;
        width:35%;
    }
    .card-top{
        padding-bottom: 10%;
    }
    .card-bottom{
        padding-top: 10%;
    }
    .feature-right .feature-card{
        margin-left: 20px;
        text-align: left;
        float: left;
    }
    .feature-bottom{
        margin-top: 60px;
    }
    .app-screenshot .section-heading{
        width: 450px;
    }
    
    .main-image img{
        margin: 40px 0;
        /* width: 30%; */
    }



    .download-app{
        padding-top: 60px;
        padding-bottom: 120px;
    }
    .download-app-text{
        float: left;
        width: 50%;
    }
    
    .download-app-img{
        padding-left: 28px;
        float: right;
        width: 50%;
        margin-top:10%;
    }

    
    .use-app{
        padding-bottom: 200px;
    }
    /* .use-app .section-heading{
        width: 450px;
    } */
    .use-app-video{
        width: 70%;
        height: 45%;
        bottom: -20%;
    }


    .team{
        margin-top: 15%;
        margin-bottom: 120px;
    }
    .team h3{
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: normal;
    }
    .team h5{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .team-card{
        display: inline-block;
        width: 30%;
        margin-top: 32px;
        margin-right: 3%;
        /* vertical-align: top; */
    }
    .team-card:last-child{
        margin-right: 0px;
    }
    .team-card img{
        width: 178px;
        height: 178px;
    }
    .team-card h3{
        padding-top: 11px;
    }

    .customers{
        padding: 120px 0;
    }
    .customers .section-heading h4{
        width: auto;
    }
    .customer-card{
        max-width: 450px;
    }
    .customer-card h4{
        font-size: 25px;
        line-height: 37.5px;
    }

    
    .blog{
        padding: 120px 0;
    }
    .blog-card-group{
        margin-left: auto;
        margin-right: auto;
        display: table;
        table-layout: fixed;
        border-spacing:15px;
        border-collapse:separate;
        
    }
    .blog-card{
        width: 32%;
        display: table-cell;
        /* border-spacing:5px; */
    }
    .blog-card:last-child{
        padding-right: 0;
    }

    .footer-contact{
        display: table;
        table-layout: fixed;
        width: 90%;
        top: -80px;
    }
    .footer{
        padding-top: 120px;
    }
    .footer-contact h5, .footer-contact img{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 16px;
    }
    .footer-contact-email, .footer-contact-phone{
        display: table-cell;
        /* position: absolute; */
        vertical-align: middle;
        text-align: left;
        padding: 0 30px;
        width: 50%;
    }
    .footer-contact-email{
        border-right: 1px solid #000000;
        /* width: 50%; */
    }

    .footer-info,.quick-links,.newsletter{
        width: 25%;
        display: table-cell;
        padding: 20px;

    }
    footer h4{
        font-size: 20px;
    }
    .footer-contact-email:after{
        content:'';
        display:none;
        
    }
    /* .quick-links{
        width: 30%;
        display: table-cell;
    }
    .newsletter{
        width: 30%;
        display: table-cell;
    } */

    
}

@media screen and (min-width: 825px) {


}






@media screen and (min-width: 1172px) {
    /* h4{
        font-size: 49px;
        font-weight: 700;
        line-height: 63.48px;
    } */
    .sm-img,.md-img{
        display: none;
    }
    .lg-img{
        display: revert;
    }
    .main-container-wrapper{
        min-width: 1171px;
    }
    .container{
        width: 1171px;
    }

    .hero-section{
        padding-top: 35px;
    }
    .contact{
        margin-bottom: 23px;
    }
    .nav-menu-icon{
        display: none;
    }
    .nav-menu-left{
        height: 100%;
    }
    .nav-menu {
        display: block;
        height: 100%;
    }
    .logo-wrapper{
        top: 59px;
    }

    .hero-text-section{
        padding: 67px 0 83px;
    }
    .hero-text-wrapper{
        width: 620px;
        margin-top: 70px;
    }
    .hero-text h4{
        font-size: 49px;
        font-weight: 700;
        line-height: 63.48px;
    }
    .bg-img{
        padding-left: 50px;
    }
    .hero-text{
        padding: 40px 0px 40px 30px;
        margin: 40px 0px;
        width: 570px;
    }
    .hero-text h4{
        padding-right: 23px;
    }
    .hero-phone{
        height: 646px;
    }


    .section-heading{
        width: 600px;
    }
    .extra-desktop{
        display: inline;
    }
    .about-card{
        margin-bottom: 40px;
    }
    .about-body img{
        width: 30%;
    }
    .about-card-group{
        width: 60%;
    }
    .feature-right{
        position: relative;
    }
    .feature-right .feature-card, .feature-left .feature-card{
        width: 300px;
    }
    .feature-left .feature-card{
        margin-right: 50px;
        
    }
    .feature-right .feature-card{
        margin-left: 50px;
    }
    .card-top{
        padding-bottom: 30%;
    }
    .card-bottom{
        padding-top: 30%;
    }
    .break{
        display: none;
    }
    

    .app-screenshot .section-heading{
        width: 650px;
    }
    .screenshot-carousel-wrapper{
        display: table;
        table-layout: fixed;
    }
    .left-nav,.right-nav{
        display: table-cell;
        width: 10%;
        vertical-align: middle;
        background-color: white;
        position: relative;
        z-index: 5;  
    } 
    .right-nav img{
        transform: rotate(180deg);
    }
    .right-nav img:hover{
        border-radius: 50%;
        background-color: #d1d1e0;
    }
    .left-nav img:hover{
        border-radius: 50%;
        background-color: #d1d1e0;
    }
    
    .screenshot-carousel{
        display: table-cell;
        width: 80%;
    }


    .download-app{
        padding-bottom: 140px;
    }
    .download-app-img{
        padding-left: 80px;
        margin-top: 0;
    }

    .use-app{
        padding-bottom: 200px;
    }
    .use-app .section-heading{
        width: 630px;
    }
    .use-app-video{
        max-width: 770px;
        width: 60%;
        height: 70%;
        bottom: -35%;
    }
    .team{
        margin-top: 216px;
    }
    .team h3{
        font-size:31.25px;
        line-height: 47.3px;
        font-weight: bold;
    }
    .team h5{
        font-size: 25px;
        line-height: 37.5px;
    }
    .team-card{
        margin-top: 60px;
    }
    .team-card img{
        width: 220px;
        height: 220px;
    }


    .customer-card{
        margin-top: 60px;
        max-width: 770px;
        padding: 40px 60px;
    }
    .customer-card-img img{
        width: 96px;
        height: auto;
    }
    .customer-card h4{
        font-size:31.25px;
        line-height: 47.3px;
        font-weight: bold;
    }
    .customer-designation{
        font-size: 20px;
        line-height: 30px;
    }
    .cus-carousel-left,.cus-carousel-right{
        margin-top: 0px;
    }


    .footer-contact{
        max-width: 1170px;
    }
}